<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>StyleBot-Dashboard</title>

    <!-- Vendors Style-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/uitemplate/eduadmin/css/vendors_css.css">

    <!-- Style-->
    <link rel="stylesheet" type="text/css" href="/uitemplate/eduadmin/css/style.css">
    <link rel="stylesheet" type="text/css" href="/uitemplate/eduadmin/css/skin_color.css">

</head>

<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">

<div class="wrapper">
    <div id="loader"></div>

    <header class="main-header">
        <div class="d-flex align-items-center logo-box justify-content-start">
            <!-- Logo -->
            <a href="index.html" class="logo">
                STYLEBOT
            </a>
        </div>
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <div class="app-menu">
                <ul class="header-megamenu nav">
                    <li class="btn-group nav-item d-md-none">
                        <a href="#" class="waves-effect waves-light nav-link push-btn" data-toggle="push-menu" role="button">
                            <span class="icon-Align-left"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="navbar-custom-menu r-side">
                <ul class="nav navbar-nav">
                    <!-- User Account-->
                    <li class="dropdown user user-menu">
                        <a href="#" class="waves-effect waves-light dropdown-toggle" data-bs-toggle="dropdown" title="User">
                            <i class="icon-User"><span class="path1"></span><span class="path2"></span></i>
                        </a>
                        <ul class="dropdown-menu animated flipInX">
                            <li class="user-body">
                                <a class="dropdown-item" href="#"><i class="ti-user text-muted me-2"></i> Profile</a>
                                <a class="dropdown-item" href="#"><i class="ti-settings text-muted me-2"></i> Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="ti-lock text-muted me-2"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <!-- sidebar-->
        <section class="sidebar position-relative">
            <div class="multinav">
                <div class="multinav-scroll" style="height: 100%;">
                    <!-- sidebar menu-->
                    <div class="sidebar-menu" data-widget="tree">
                        <li class="header">Dashboard</li>
                        <li><a href="index.html"><i class="fa fa-home"><span class="path1"></span><span class="path2"></span></i>Overview</a></li>
                        <li class="header">JENNIE FIT </li>
                        <li><a href="../../../../../../../Downloads/eduadmin-main-file-v4.1/html/BS5/main-dark/my-closet-upload.html"><i class="fa fa-archive"><span class="path1"></span><span class="path2"></span></i>내 옷 수동 등록</a></li>
                        <li><a href="../../../../../../../Downloads/eduadmin-main-file-v4.1/html/BS5/main-dark/jennie-cc.html"><i class="fa fa-camera"><span class="path1"></span><span class="path2"></span></i>Jennie C.C</a></li>
                        <li><a href="../../../../../../../Downloads/eduadmin-main-file-v4.1/html/BS5/main-dark/jennie-fit-assign.html"><i class="fa fa-file-text"><span class="path1"></span><span class="path2"></span></i>작업 현황 및 배정</a></li>
                        <li><a href="../../../../../../../Downloads/eduadmin-main-file-v4.1/html/BS5/main-dark/jennie-fit-user.html"><i class="fa fa-cloud-upload"><span class="path1"></span><span class="path2"></span></i>Jennie FIT User</a></li>
                        <li><a href="../../../../../../../Downloads/eduadmin-main-file-v4.1/html/BS5/main-dark/jennie-fit-product.html"><i class="fa fa-cloud-upload"><span class="path1"></span><span class="path2"></span></i>Jennie FIT Product</a></li>
                        <li><a href="../../../../../../../Downloads/eduadmin-main-file-v4.1/html/BS5/main-dark/jennie-fit-inspection.html"><i class="fa fa-th-list"><span class="path1"></span><span class="path2"></span></i>Jennie FIT 검수</a></li>
                        <li class="header">JENNIE PRODUCT</li>
                        <li><a href="#"><i class="fa fa-archive"><span class="path1"></span><span class="path2"></span></i>스타일봇 수동 등록</a></li>
                        <li><a href="../../../../../../../Downloads/eduadmin-main-file-v4.1/html/BS5/main-dark/jennie-product-total.html"><i class="fa fa-archive"><span class="path1"></span><span class="path2"></span></i>전체 상품 리스트</a></li>
                        <li class="header">STYLE</li>
                        <li><a href="../../../../../../../Downloads/eduadmin-main-file-v4.1/html/BS5/main-dark/jennies-pick.html"><i class="fa fa-meh-o"><span class="path1"></span><span class="path2"></span></i>Jennie's Pick</a></li>
                        <li class="header">검색 키워드</li>
                        <li><a href="#"><i class="fa fa-heart"><span class="path1"></span><span class="path2"></span></i>인기 키워드 리스트</a></li>
                        <li class="header">아바타 커스텀</li>
                        <li><a href="#"><i class="fa fa-magic"><span class="path1"></span><span class="path2"></span></i>아바타 커스텀</a></li>
                        <li class="header">이벤트 관리</li>
                        <li><a href="#"><i class="fa fa-archive"><span class="path1"></span><span class="path2"></span></i>팝업 광고 리스트</a></li>
                        <li class="header">브랜드 관리</li>
                        <li><a href="#"><i class="fa fa-archive"><span class="path1"></span><span class="path2"></span></i>브랜드 관리</a></li>
                        <li class="header">GENERAL</li>
                        <li><a href="#"><i class="fa fa-user-circle"><span class="path1"></span><span class="path2"></span></i>Account</a></li>
                        <li><a href="#"><i class="fa fa-question-circle-o"><span class="path1"></span><span class="path2"></span></i>Inquiry</a></li>
                        <li class="header">한섬</li>
                        <li><a href="#"><i class="fa fa-file-text-o"><span class="path1"></span><span class="path2"></span></i>한섬 작업 현황 및 배정</a></li>
                        <li><a href="#"><i class="fa fa-cloud-upload"><span class="path1"></span><span class="path2"></span></i>한섬 Jennie FIT Product</a></li>
                        <li><a href="#"><i class="fa fa-th-list"><span class="path1"></span><span class="path2"></span></i>한섬 Jennie FIT 검수</a></li>
                        <li><a href="#"><i class="fa fa-archive"><span class="path1"></span><span class="path2"></span></i>한섬 전체 상품 리스트</a></li>
                        <li class="header">고객사 관리</li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-archive"><span class="path1"></span><span class="path2"></span></i>
                                <span>B2B관리</span>
                                <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-pencil"><span class="path1"></span><span class="path2"></span></i>B2B 회사 추가</a></li>
                                <li><a href="#"><i class="fa fa-pencil"><span class="path1"></span><span class="path2"></span></i>B2B 담당자 계정 추가</a></li>
                            </ul>
                        </li>
                        <li class="header">B2B PROD.M</li>
                        <li><a href="#"><i class="fa fa-file-text-o"><span class="path1"></span><span class="path2"></span></i>B2B 작업 현황 및 배전</a></li>
                        <li><a href="#"><i class="fa fa-cloud-upload"><span class="path1"></span><span class="path2"></span></i>B2B Jennie FIT Product</a></li>
                        <li><a href="#"><i class="fa fa-th-list"><span class="path1"></span><span class="path2"></span></i>B2B Jennie FIT 검수</a></li>
                    </div>
                </div>
        </section>
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Main content -->
            <section class="content">
                <form name="form">
                    <input type="hidden" name="codeGroupSeq">
                    <input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
                    <input type="hidden" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
                    <h2>CodeGroup</h2>
                    <div class="box">
                        <div class="box-body">
                            <div id="searchWrap" style="display: none">
                                <div class="row row-cols-2 row-cols-sm-6 g-2 px-2 mb-4">
                                    <div class="col">
                                        <select class="form-select" name="shDelNy" id="shDelNy">
                                            <option th:selected="${vo.shDelNy == null}" value="">삭제여부</option>
                                            <option th:selected="${vo.shDelNy == 1}" value="1">Y</option>
                                            <option th:selected="${vo.shDelNy == 0}" value="0">N</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class="form-select" name="shUseNy" id="shUseNy">
                                            <option th:selected="${vo.shUseNy == null}" value="">사용여부</option>
                                            <option th:selected="${vo.shUseNy == 1}" value="1">Y</option>
                                            <option th:selected="${vo.shUseNy == 0}" value="0">N</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <input type="date" class="form-control"placeholder="시작일">
                                    </div>
                                    <div class="col">
                                        <input type="date" class="form-control" placeholder="종료일">
                                    </div>
                                </div>
                                <div class="row row-cols-2 row-cols-sm-6 g-2 px-2">
                                    <div class="col">
                                        <select class="form-select" id="shOption" name="shOption">
                                            <option th:selected="${vo.shOption == null}" value="">검색구분</option>
                                            <option th:selected="${vo.shOption == 1}" value="1">코드그룹 코드</option>
                                            <option th:selected="${vo.shOption == 2}" value="2">코드그룹 이름</option>
                                            <option th:selected="${vo.shOption == 3}" value="3">코드그룹 영어 이름</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" th:value="${vo.shValue}" id="shValue" name="shValue" placeholder="검색어">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="p-2">
                                    <span style="cursor:pointer; margin-left: 10px;" onclick="showHide('searchWrap');">
                                        <a id="showBtn" onclick='change()'><i class="fa fa-chevron-down" style="color: #FFFFFF"></i></a>
                                    </span>
                                </div>
                                <div class="p-2">
                                    <button class="btn btn-secondary btn-sm"><i class="fa fa-rotate-left"></i></button>
                                    <button class="btn btn-secondary btn-sm" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-body">
                            <div class="table-responsive-sm">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <td>seq</td>
                                        <td>코드그룹이름</td>
                                        <td>코드그룹 영어이름</td>
                                        <td>코드그룹 사용여부</td>
                                        <td>코드그룹 삭제여부</td>
                                        <td>코드그룹 생성날짜</td>
                                        <td>코드그룹 수정날짜</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="member : ${list}" th:attr="onclick=|goForm('${member.codeGroupSeq}')|" style="cursor: pointer;">
                                        <td th:text="${member.codeGroupSeq}"></td>
                                        <td th:text="${member.codeGroupName}"></td>
                                        <td th:text="${member.codeGroupNameEng}"></td>
                                        <td th:text="${member.codeGroupUseNY}"></td>
                                        <td th:text="${member.codeGroupDelNY}"></td>
                                        <td th:text="${member.codeGroupRegdate}"></td>
                                        <td th:text="${member.codeGroupUpdate}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="p-2"><button class="btn btn-secondary" id="btnForm">생성</button></div>
                            </div>
                            <div class="dataTables_paginate paging_simple_numbers">
                                <ul class="pagination justify-content-center mb-0">
                                    <li th:if="${vo.startPage gt vo.pageNumToShow}" class="paginate_button page-item previous"><a class="page-link" th:attr="onclick=|goList('${vo.startPage - 1}')|"><</a></li>
                                    <li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" class="paginate_button page-item" th:classappend="${num eq vo.thisPage} ? active : ''">
                                        <a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"></a>
                                    </li>
                                    <li th:if="${vo.endPage ne vo.totalPages}" class="paginate_button page-item next"><a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|">></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
<!-- Page Content overlay -->

<script type="text/javascript" src="/uitemplate/eduadmin/js/vendors.min.js"></script>
<script type="text/javascript" src="/uitemplate/eduadmin/assets/icons/feather-icons/feather.min.js"></script>
<script type="text/javascript" src="/uitemplate/eduadmin/assets/vendor_components/moment/min/moment.min.js"></script>

<script type="text/javascript" src="/uitemplate/eduadmin/js/template.js"></script>
<script type="text/javascript" src="/uitemplate/eduadmin/js/pages/data-table.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

<script type="text/javascript">
    let goUrlList = "/codegroup/list";
    let goUrlForm = "/codegroup/form";
    let form = $("form[name=form]")
    let seq = $("[name=codeGroupSeq]");

    $('#btnForm').on("click", function() {
        goForm(0);
    });

    goForm = function(keyValue) {
        seq.val(keyValue);
        form.attr("action", goUrlForm).submit();
    }
    function showHide(id){
        let objId = document.getElementById(id);
        if(objId.style.display == "block"){
            objId.style.display = "none";
        } else {
            objId.style.display = "block";
        }
    }
    goList = function(thisPage) {
        $("input:hidden[name=thisPage]").val(thisPage);
        form.attr("action", goUrlList).submit();
    }
    function change() {
        const subs = document.getElementById("showBtn")
        if(subs.innerHTML == '<i class="fa fa-chevron-up" style="color: #FFFFFF"></i>') {
            subs.innerHTML = '<i class="fa fa-chevron-down" style="color: #FFFFFF"></i>';
        } else subs.innerHTML ='<i class="fa fa-chevron-up" style="color: #FFFFFF"></i>';
    }

</script>
</body>
</html>