<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>StyleBot</title>
    <link rel="stylesheet" type="text/css" href="/uitemplate/eduadmin/css/vendors_css.css">
    <!-- Style-->
    <link rel="stylesheet" type="text/css" href="/uitemplate/eduadmin/css/style.css">
    <link rel="stylesheet" type="text/css" href="/uitemplate/eduadmin/css/skin_color.css">
</head>

<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">

<div class="wrapper">
    <div id="loader"></div>

    <div th:replace="/zxincludev1/header :: header"></div>
    <div th:replace="/zxincludev1/sidemenu :: aside"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Main content -->
            <section class="content">
                <form name="form" method="post">
                    <input type="hidden" name="codeGroupSeq">
                    <input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
                    <input type="hidden" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
                    <input type="hidden" name="checkboxSeqArray">
                    <h2>CodeGroup</h2>
                    <div class="box">
                        <div class="box-body">
                            <div id="searchWrap" style="display: none">
                                <div class="row row-cols-2 row-cols-sm-6 g-2 px-2 mb-4">
                                    <div class="col">
                                        <select class="form-select" name="shDelNy" id="shDelNy">
                                            <option th:selected="${vo.shDelNy == null}" value="">삭제여부</option>
                                            <option th:selected="${vo.shDelNy == 1}" value="1">Y</option>
                                            <option th:selected="${vo.shDelNy == 0}" value="0">N</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class="form-select" name="shUseNy" id="shUseNy">
                                            <option th:selected="${vo.shUseNy == null}" value="">사용여부</option>
                                            <option th:selected="${vo.shUseNy == 1}" value="1">Y</option>
                                            <option th:selected="${vo.shUseNy == 0}" value="0">N</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class="form-select" name="shOptionDate" id="shOptionDate">
                                            <option th:selected="${vo.shOptionDate == null}" value="">날짜</option>
                                            <option th:selected="${vo.shOptionDate == 1}" value="1">생성일</option>
                                            <option th:selected="${vo.shOptionDate == 2}" value="2">수정일</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <input type="date" class="form-control" name="shDateStart" placeholder="시작일">
                                    </div>
                                    <div class="col">
                                        <input type="date" class="form-control" name="shDateEnd" placeholder="종료일">
                                    </div>
                                </div>
                                <div class="row row-cols-2 row-cols-sm-6 g-2 px-2">
                                    <div class="col">
                                        <select class="form-select" id="shOption" name="shOption">
                                            <option th:selected="${vo.shOption == null}" value="">검색구분</option>
                                            <option th:selected="${vo.shOption == 1}" value="1">코드그룹 코드</option>
                                            <option th:selected="${vo.shOption == 2}" value="2">코드그룹 이름</option>
                                            <option th:selected="${vo.shOption == 3}" value="3">코드그룹 영어 이름</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" th:value="${vo.shValue}" id="shValue" name="shValue" placeholder="검색어">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="p-2">
                                    <span style="cursor:pointer; margin-left: 10px;" onclick="showHide('searchWrap');">
                                        <a id="showBtn" onclick='change()'><i class="fa fa-chevron-down" style="color: #FFFFFF"></i></a>
                                    </span>
                                </div>
                                <div class="p-2">
                                    <button class="btn btn-secondary btn-sm"><i class="fa fa-rotate-left"></i></button>
                                    <button class="btn btn-secondary btn-sm" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-body">
                            <div class="table-responsive-sm">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="CheckBoxAll">
                                                <label for="CheckBoxAll"></label>
                                            </div>
                                        </td>
                                        <td>seq</td>
                                        <td>코드그룹이름</td>
                                        <td>코드그룹 영어이름</td>
                                        <td>코드그룹 사용여부</td>
                                        <td>코드그룹 삭제여부</td>
                                        <td>코드그룹 생성날짜</td>
                                        <td>코드그룹 수정날짜</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="member : ${list}">
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox"  th:id="'checkboxSeq_' + ${member.codeGroupSeq}" name="checkboxSeq" th:value="${member.codeGroupSeq}">
                                                    <label th:for="'checkboxSeq_' + ${member.codeGroupSeq}"></label>
                                                </div>
                                            </td>
                                            <td th:text="${member.codeGroupSeq}" th:attr="onclick=|goForm('${member.codeGroupSeq}')|" style="cursor: pointer;"></td>
                                            <td th:text="${member.codeGroupName}"></td>
                                            <td th:text="${member.codeGroupNameEng}"></td>
                                            <td th:text="${member.codeGroupUseNY}"></td>
                                            <td th:text="${member.codeGroupDelNY}"></td>
                                            <td th:text="${member.codeGroupRegdate}"></td>
                                            <td th:text="${member.codeGroupUpdate}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex">
                                <div class="p-2"><button class="btn btn-warning-light btn-sm" type="button" id="btnUelete" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa fa-remove"></i></button></div>
                                <div class="p-2 me-auto"><button class="btn btn-danger-light btn-sm" id="btnDelete" type="button" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa fa-trash"></i></button></div>
                                <div class="p-2"><button class="btn btn-success-light btn-sm" id="btnForm"><i class="fa fa-plus"></i></button></div>
                            </div>
                            <div class="dataTables_paginate paging_simple_numbers">
                                <ul class="pagination justify-content-center mb-0">
                                    <li th:if="${vo.startPage gt vo.pageNumToShow}" class="paginate_button page-item previous"><a class="page-link" th:attr="onclick=|goList('${vo.startPage - 1}')|"><</a></li>
                                    <li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" class="paginate_button page-item" th:classappend="${num eq vo.thisPage} ? active : ''">
                                        <a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"></a>
                                    </li>
                                    <li th:if="${vo.endPage ne vo.totalPages}" class="paginate_button page-item next"><a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|">></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div th:replace="/zxincludev1/baseModal :: div"></div>
</div>
<!-- Page Content overlay -->

<script type="text/javascript" src="/uitemplate/eduadmin/js/vendors.min.js"></script>
<script type="text/javascript" src="/uitemplate/eduadmin/assets/icons/feather-icons/feather.min.js"></script>
<script type="text/javascript" src="/uitemplate/eduadmin/assets/vendor_components/moment/min/moment.min.js"></script>

<script type="text/javascript" src="/uitemplate/eduadmin/js/template.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

<script type="text/javascript">
    let goUrlList = "/codegroup/list";
    let goUrlForm = "/codegroup/form";
    let goUrlMultiDele = "/codegroup/codeGroupMultiDele";
    let goUrlMultiUele = "/codegroup/codeGroupMultiUele";
;
    let form = $("form[name=form]");
    let seq = $("[name=codeGroupSeq]");
    let checkboxSeqArray = [];

    $('#btnForm').on("click", function() {
        goForm(0);
    });

    goForm = function(keyValue) {
        seq.val(keyValue);
        form.attr("action", goUrlForm).submit();
    }

    function showHide(id){
        let objId = document.getElementById(id);
        if(objId.style.display == "block"){
            objId.style.display = "none";
        } else {
            objId.style.display = "block";
        }
    }

    goList = function(thisPage) {
        $("input:hidden[name=thisPage]").val(thisPage);
        form.attr("action", goUrlList).submit();
    }

    function change() {
        const subs = document.getElementById("showBtn")
        if(subs.innerHTML == '<i class="fa fa-chevron-up" style="color: #FFFFFF"></i>') {
            subs.innerHTML = '<i class="fa fa-chevron-down" style="color: #FFFFFF"></i>';
        } else subs.innerHTML ='<i class="fa fa-chevron-up" style="color: #FFFFFF"></i>';
    }

    $("#CheckBoxAll").click(function() {
        if($("#CheckBoxAll").is(":checked")) $("input[name=checkboxSeq]").prop("checked", true);
        else $("input[name=checkboxSeq]").prop("checked", false);
    });

    $("input[name=CheckBoxAll]").click(function() {
        let total = $("input[name=CheckBoxAll]").length;
        let checked = $("input[name=CheckBoxAll]:checked").length;

        if(total != checked) $("#CheckBoxAll").prop("checked", false);
        else $("#CheckBoxAll").prop("checked", true);
    });
    $("#btnUelete").on("click", function(){
        if($("input[name=checkboxSeq]:checked").length > 0 ) {
            $(".modal-title").text("확 인");
            $(".modal-body").text("해당 데이터를 삭제하시겠습니까 ?");
            $("#btnModalUelete").show();
            $("#btnModalDelete").hide();
        } else {
            $(".modal-title").text("확 인");
            $(".modal-body").text("데이터를 선택해 주세요!");
            $("#btnModalDelete").hide();
            $("#btnModalUelete").hide();
        }
    });
    $("#btnDelete").on("click", function(){
        if($("input[name=checkboxSeq]:checked").length > 0 ) {
            $(".modal-title").text("확 인");
            $(".modal-body").text("해당 데이터를 삭제하시겠습니까 ?");
            $("#btnModalDelete").show();
            $("#btnModalUelete").hide();
        } else {
            $(".modal-title").text("확 인");
            $(".modal-body").text("데이터를 선택해 주세요!");
            $("#btnModalDelete").hide();
            $("#btnModalUelete").hide();
        }
    });

    $("#btnModalUelete").on("click", function(){
        $("input[name=checkboxSeq]:checked").each(function() {
            checkboxSeqArray.push($(this).val());
        });
        $("input:hidden[name=checkboxSeqArray]").val(checkboxSeqArray);
        $("#modalConfirm").modal("hide");
        form.attr("action", goUrlMultiUele).submit();
    });

    $("#btnModalDelete").on("click", function(){
        $("input[name=checkboxSeq]:checked").each(function() {
            checkboxSeqArray.push($(this).val());
        });

        $("input:hidden[name=checkboxSeqArray]").val(checkboxSeqArray);
        $("#modalConfirm").modal("hide");
        form.attr("action", goUrlMultiDele).submit();
    });
</script>
</body>
</html>