<aside class="main-sidebar">
  <!-- sidebar-->
  <section class="sidebar position-relative">
    <div class="multinav">
      <div class="multinav-scroll" style="height: 100%;">
        <!-- sidebar menu-->
        <div class="sidebar-menu" data-widget="tree">
          <li class="header">Dashboard</li>
          <li><a href="index.html"><i class="fa fa-home"><span class="path1"></span><span class="path2"></span></i>Overview</a></li>
          <li class="header">JENNIE FIT </li>
          <li><a href="../../../../../../../Downloads/eduadmin-main-file-v4.1/html/BS5/main-dark/my-closet-upload.html"><i class="fa fa-archive"><span class="path1"></span><span class="path2"></span></i>내 옷 수동 등록</a></li>
          <li><a href="../../../../../../../Downloads/eduadmin-main-file-v4.1/html/BS5/main-dark/jennie-cc.html"><i class="fa fa-camera"><span class="path1"></span><span class="path2"></span></i>Jennie C.C</a></li>
          <li><a href="../../../../../../../Downloads/eduadmin-main-file-v4.1/html/BS5/main-dark/jennie-fit-assign.html"><i class="fa fa-file-text"><span class="path1"></span><span class="path2"></span></i>작업 현황 및 배정</a></li>
          <li><a href="../../../../../../../Downloads/eduadmin-main-file-v4.1/html/BS5/main-dark/jennie-fit-user.html"><i class="fa fa-cloud-upload"><span class="path1"></span><span class="path2"></span></i>Jennie FIT User</a></li>
          <li><a href="../../../../../../../Downloads/eduadmin-main-file-v4.1/html/BS5/main-dark/jennie-fit-product.html"><i class="fa fa-cloud-upload"><span class="path1"></span><span class="path2"></span></i>Jennie FIT Product</a></li>
          <li><a href="../../../../../../../Downloads/eduadmin-main-file-v4.1/html/BS5/main-dark/jennie-fit-inspection.html"><i class="fa fa-th-list"><span class="path1"></span><span class="path2"></span></i>Jennie FIT 검수</a></li>
          <li class="header">JENNIE PRODUCT</li>
          <li><a href="#"><i class="fa fa-archive"><span class="path1"></span><span class="path2"></span></i>스타일봇 수동 등록</a></li>
          <li><a href="../../../../../../../Downloads/eduadmin-main-file-v4.1/html/BS5/main-dark/jennie-product-total.html"><i class="fa fa-archive"><span class="path1"></span><span class="path2"></span></i>전체 상품 리스트</a></li>
          <li class="header">STYLE</li>
          <li><a href="../../../../../../../Downloads/eduadmin-main-file-v4.1/html/BS5/main-dark/jennies-pick.html"><i class="fa fa-meh-o"><span class="path1"></span><span class="path2"></span></i>Jennie's Pick</a></li>
          <li class="header">검색 키워드</li>
          <li><a href="#"><i class="fa fa-heart"><span class="path1"></span><span class="path2"></span></i>인기 키워드 리스트</a></li>
          <li class="header">아바타 커스텀</li>
          <li><a href="#"><i class="fa fa-magic"><span class="path1"></span><span class="path2"></span></i>아바타 커스텀</a></li>
          <li class="header">이벤트 관리</li>
          <li><a href="#"><i class="fa fa-archive"><span class="path1"></span><span class="path2"></span></i>팝업 광고 리스트</a></li>
          <li class="header">브랜드 관리</li>
          <li><a href="#"><i class="fa fa-archive"><span class="path1"></span><span class="path2"></span></i>브랜드 관리</a></li>
          <li class="header">GENERAL</li>
          <li><a href="#"><i class="fa fa-user-circle"><span class="path1"></span><span class="path2"></span></i>Account</a></li>
          <li><a href="#"><i class="fa fa-question-circle-o"><span class="path1"></span><span class="path2"></span></i>Inquiry</a></li>
          <li class="header">한섬</li>
          <li><a href="#"><i class="fa fa-file-text-o"><span class="path1"></span><span class="path2"></span></i>한섬 작업 현황 및 배정</a></li>
          <li><a href="#"><i class="fa fa-cloud-upload"><span class="path1"></span><span class="path2"></span></i>한섬 Jennie FIT Product</a></li>
          <li><a href="#"><i class="fa fa-th-list"><span class="path1"></span><span class="path2"></span></i>한섬 Jennie FIT 검수</a></li>
          <li><a href="#"><i class="fa fa-archive"><span class="path1"></span><span class="path2"></span></i>한섬 전체 상품 리스트</a></li>
          <li class="header">고객사 관리</li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-archive"><span class="path1"></span><span class="path2"></span></i>
              <span>B2B관리</span>
              <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span>
            </a>
            <ul class="treeview-menu">
              <li><a href="#"><i class="fa fa-pencil"><span class="path1"></span><span class="path2"></span></i>B2B 회사 추가</a></li>
              <li><a href="#"><i class="fa fa-pencil"><span class="path1"></span><span class="path2"></span></i>B2B 담당자 계정 추가</a></li>
            </ul>
          </li>
          <li class="header">B2B PROD.M</li>
          <li><a href="#"><i class="fa fa-file-text-o"><span class="path1"></span><span class="path2"></span></i>B2B 작업 현황 및 배전</a></li>
          <li><a href="#"><i class="fa fa-cloud-upload"><span class="path1"></span><span class="path2"></span></i>B2B Jennie FIT Product</a></li>
          <li><a href="#"><i class="fa fa-th-list"><span class="path1"></span><span class="path2"></span></i>B2B Jennie FIT 검수</a></li>
        </div>
      </div>
  </section>
</aside>